header{
  float: right;
  margin: 0 5px;
}

ul { 
  list-style:none; 
  margin:0 auto; 
  padding:0 auto; 
} 

li { 
  display:inline;
  margin: 0 auto;
} 

button{
  background-color: #4684EC;
  color:#FFFFFD;
  text-align: center;
}

button a{
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

img{
  width: auto;
  height: auto;
  position: absolute;
  top: 150px;
  left: 350px;
}

div#searchbox{
  width: 500px;
  height: auto;
  position: absolute;
  top: 345px;
  left: 350px;
}

input{
  width: 500px;
}
