header{
  float: right;
  margin: 0 5px;
}

ul { 
  list-style:none; 
  margin:0 auto; 
  padding:0 auto; 
} 

li { 
  display:inline;
  margin: 0 auto;
} 

button#signin{
  background-color: #4684EC;
  color:#FFFFFD;
  text-align: center;
}

button a{
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

img{
  width: auto;
  height: auto;
  position: absolute;
  top: 150px;
  left: 350px;
}

div#searchbox{
  width: 500px;
  height: auto;
  position: absolute;
  top: 345px;
  left: 350px;
}

input{
  width: 500px;
}

.buttons{
  width: -50%;
  height: -50%;
  position: absolute;
  top: 400px;
  left: 450px;
}

.buttons a{
  color: black;
}

#button1,
#button2{
  border-radius: 5px;
  background-color: #F7F7F7;
  
}

footer{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 
}














